@using CourseProjectSculptureWorks.Models.ReportsViewModels
@model List<WorksOfSculptorViewModel>

@{
    ViewData["Title"] = "Отчет по работам скульптора " + ViewData["SculptorName"];
}



@if (Model != null && Model.Count != 0)
{
    <table>
        <tr><th colspan="2">Отчет по работам скульптора @ViewData["SculptorName"]</th></tr>
        <tr>
            <td>
                <b>Стиль</b>
            </td>
            <td>
                <b>Количество скульптур</b>
            </td>
        </tr>
        @foreach (var reportLine in Model)
        {
            <tr>
                <td>@reportLine.StyleName</td>
                <td>@reportLine.NumberOfSculptures</td>
            </tr>
        }
        <tr>
            <td><b>Итого</b></td>
            <td colspan="2"><b>Количество работ скульптора: @ViewData["NumberOfSculptures"]</b></td>
        </tr>
    </table>
    <br /><br />
    <script>
        window.onload = function()
        {
            window.print();

        }
    </script>
}
else
{
    <h3>У данного скульптора нету работ...</h3>
}



<style>
    table {
        width: 100%;
        margin-top: 3%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 5px;
        background: #E1E3E0;
        border-radius: 20px;
    }

    th {
        font-size: 22px;
        font-weight: 300;
        padding: 12px 10px;
        border-bottom: 2px solid #F56433;
        color: #F56433;
    }

    tbody tr:nth-child(2) {
        border-bottom: 2px solid #F56433;
    }

    tbody tr:last-child {
        border-top: 2px solid #F56433;
        border-bottom: 2px solid #F56433;
    }

    td {
        padding: 20px;
        color: #8D8173;
    }
</style>