@using CourseProjectSculptureWorks.Models.StatisticsViewModels
@*@model List<IGrouping<string, AttedanceViewModel>>*@
@model List<AttedanceViewModel>

@{
    ViewData["Title"] = "Посещаемость музеев по городам";
}



@if (Model != null && Model.Count != 0)
{
    <table>
        <tr><th colspan="4">Посещаемость музеев по городам</th></tr>
        <tr>
            <td>
                <b>Город</b>
            </td>
            <td>
                <b>Кол-во местоположений</b>
            </td>
            <td>
                <b>Кол-во проведенных экскурсий</b>
            </td>
            <td>
                <b>Кол-во посетителей</b>
            </td>
        </tr>
        
        @foreach (var statisticLine in Model)
        {
            <tr>
                <td>@statisticLine.City</td>
                <td>@statisticLine.NumberOfLocations</td>
                <td>@statisticLine.NumberOfExcursions</td>
                <td>@statisticLine.NumberOfPeople</td>
            </tr>
        }
        <tr></tr>

    </table>
    <br /><br />

}
else
{
    <h3>Не удается собрать статистику...</h3>
}



<style>
    table {
        width: 100%;
        margin-top: 3%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 5px;
        background: #E1E3E0;
        border-radius: 20px;
    }

    th {
        font-size: 22px;
        font-weight: 300;
        padding: 12px 10px;
        border-bottom: 2px solid #F56433;
        color: #F56433;
    }

    tbody tr:nth-child(2) {
        border-bottom: 2px solid #F56433;
    }

    tbody tr:last-child {
        border-top: 2px solid #F56433;
        border-bottom: 2px solid #F56433;
    }

    td {
        padding: 20px;
        color: #8D8173;
    }
</style>