body {
    background-image: url("../images/bg.jpg");
}

a
{
    cursor:pointer;
}


a.addBtn {
  display: inline-block;
  color: coral;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin: 20px;
} 
a.addBtn:hover { background: rgba(255, 69, 0,.2); }
a.addBtn:active { background: rgba(255, 69, 0,.2); }


.features
{
    background: rgba(237, 237, 237, .6);
    margin: 20px -15px 20px 20px;
    box-shadow: 0 1px 2px #d1d1d1;
}

.column
{
    display:inline-table;
    margin:30px 20px 20px 20px;
}

h4
{
    font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:16px;
	text-shadow: 1px 1px 0px #fff;
}


.checkbox
{
    display:inline-table;
}

#dash
{
    background: rgba(0,0,0,0.8);
    margin-top:20px;
    right:20px;
    padding:25px;
    display:none;
}
