.addBtn, .styleContainer
{
    margin-top: 10px;
}

a.addBtn {
  display: inline-block;
  color: coral;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  margin: 20px;
} 
a.addBtn:hover { background: rgba(255, 69, 0,.2); }
a.addBtn:active { background: rgba(255, 69, 0,.2); }

a
{
    cursor:pointer;
}

.column
{
    display: inline-table;
}


.features
{
    margin:50px 100px 0 0px;
}

.mainPart
{
    margin-top: -800px;
}


th, td
{
    font-size:14px;
}

